.data{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2px;
}

.btn{
    outline: none;
    border: none;
    margin: 4px;
    padding: 6px;
    background-color: greenyellow;
    border: 1px solid black;
    cursor: pointer;
}